<!DOCTYPE html>
<html>
<head>
<style>
body{
  margin:0;
  height:100vh;
  background:#ffe6f2;
  background-image: radial-gradient(#ff4d88 10%, transparent 11%);
  background-size:60px 60px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:cursive;
}
.container{
  text-align:center;
  font-size:34px;
}
</style>
</head>
<body>
<div class="container">
  🎊 Yayyy!!! 🎊<br><br>
  You successfully completed the game 💖<br><br>
  Love you so much ❤️<br><br>
  Yours forever,<br>
  <b>Bujjithalli 💕</b>
</div>
</body>
</html>