<!DOCTYPE html>
<html>
<head>
<style>
body{
  margin:0;
  height:100vh;
  background:#ffe6f2;
  background-image: radial-gradient(#ff4d88 10%, transparent 11%);
  background-size:60px 60px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:cursive;
}
.container{
  text-align:center;
  font-size:30px;
}
button{
  font-size:22px;
  padding:12px 25px;
  border-radius:12px;
  margin:10px;
}
</style>
</head>
<body>
<div class="container">
  1️⃣ This is our?<br><br>
  <a href="/wrong"><button>4th Valentine’s Day</button></a><br>
  <a href="/correct_q1"><button>5th Valentine’s Day 💖</button></a><br>
  <a href="/wrong"><button>100th Valentine’s Day 😛</button></a>
</div>
</body>
</html>